<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RISK Roller</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/roller.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/roll.js"></script>
</head>
<body>
  <header>
    RISK Roller
  </header>
  <main>
    <div class="settings">
      Number of Attackers
      <select name="attackers" id="attackers" onchange="reset()">
        <% for (let i=2; i<=999; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
    <div class="settings">
      Number of Defenders
      <select name="defenders" id="defenders" onchange="reset()">
        <% for (let i=1; i<=999; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
    <div>
      <button onclick="roll()">
        <img id="dice" src="/images/dice.png" alt="Roll Dice" width="150"/>
        <div class="centered">Click to Roll!</div>
      </button>
    </div>
    <div id="results">
      <div id="winner" hidden>
      </div>
      <div id="attackersRemaining" hidden>
      </div>
      <div id="defendersRemaining" hidden>
      </div>
      <div id="summaryHeading" hidden onclick="showSummary()">
      </div>
      <div id="summary" hidden>
      </div>
    </div>
  </main>
</body>
</html>