<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RISK Roller</title>
  <link rel="icon" type="image/x-icon" href="/images/icon.png">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/roller.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/roll.js"></script>
</head>
<body>
  <header>
    RISK Roller
  </header>
  <div class="splash">
    <br>Welcome to RISK Roller!
    <br><br>An automated dice roller for the board game RISK. Simply select the number of attackers and defenders, then click the button to roll the dice.
    <br><br>This app will automatically calculate the results of the dice rolls and display the winner, the number of attackers and defenders remaining, and a summary of the dice rolls. It always rolls the maximum number of dice possible for each player. For example, if the attacker has 4 armies, they will roll 3 dice. If the defender has 2 armies, they will roll 2 dice.
    <br><br>Beware! This app always rolls to completion. Either the attacker or defender will be victorious!
    <br><br>Click the dice below to get started!
    <br>
    <button id="start" onclick="start()">
      <img src="/images/dice.png" alt="Roll Dice" width="150"/>
    </button>
  </div>
  <main class="hidden" id="main">
    <div class="settings">
      Number of Attackers
      <select name="attackers" id="attackers" onchange="reset()">
        <% for (let i=2; i<=999; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
    <div class="settings">
      Number of Defenders
      <select name="defenders" id="defenders" onchange="reset()">
        <% for (let i=1; i<=999; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
    <div>
      <button onclick="roll()">
        <img id="dice" src="/images/dice.png" alt="Roll Dice" width="150"/>
        <div class="centered">Click to Roll!</div>
      </button>
    </div>
    <div id="results">
      <div id="winner" hidden>
      </div>
      <div id="attackersRemaining" hidden>
      </div>
      <div id="defendersRemaining" hidden>
      </div>
      <div id="summaryHeading" hidden onclick="showSummary()">
      </div>
      <div id="summary" hidden>
      </div>
    </div>
  </main>
</body>
</html>