<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RISK Roller</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/roller.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/roll.js"></script>
</head>
<body>
  <header>
    RISK Roller
  </header>
  <div class="settings">
    Number of Attackers
    <select name="attackers" id="attackers">
      <% for (let i=2; i<=100; i++) { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
  </div>
  <div class="settings">
    Number of Defenders
    <select name="defenders" id="defenders">
      <% for (let i=1; i<=100; i++) { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
  </div>
  <div>
    <button onclick="roll()">
      Roll!
    </button>
  </div>
  <div class="results">
    <div id="winner">
    </div>
    <div id="attackersRemaining">
    </div>
    <div id="defendersRemaining">
    </div>
  </div>

</body>
</html>