<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Risk Roller</title>
</head>
<body>
  <header>
    Welcome to Risk Roller!
  </header>
  <form>
    <div>
      # of Attackers
      <select name="attackers" id="attackers">
        <% for (let i=1; i<=100; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
    <div>
      # of Defenders
      <select name="defenders" id="defenders">
        <% for (let i=1; i<=100; i++) { %>
          <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
    <div>
      <button>
        Roll!
      </button>
    </div>
  </form>
  <div>
    <div>
      Player Wins
    </div>
    <div>
      Attacker Loses # Armies, # Armies Remaining
    </div>
    <div>
      Defender Loses # Armies, # Armies Remaining
    </div>
  </div>
</body>
</html>